
html {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.section-one {
  background-color: #5FC18B;
  position: relative;
  padding: 10vh 15vw;
  box-shadow: 15px 15px 15px 15px rgba(41, 41, 41, 0.2);
  box-sizing: border-box;
  .section-one__title {
    color: #fff;
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
  }
  .section-one__descr {
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    max-width: 50vh;
    margin: 0 auto;
    text-align: center;
  }
}

.section-two {
  background-color: #44a36f;
  padding: 10vh 20vw;
  .section-two__title {
    color: #fff;
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
  }
  .section-two__descr {
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
    max-width: 50vw;
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .section-one {
    padding: 130px 0 190px;
  }
  .separator {
    bottom: -110px;
    .separator__svg {
      left: -20%;
      position: relative;
      transform: rotate(15deg);
      width: 140%;
    }
  }
}


.swiper-container {
  margin-top: 10px !important;
  box-shadow: 0px 14px 30px rgba(34, 35, 58, 0.2);
  width: 50vw;
  height: 50vh;
  border-radius: 20px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  width: 80%;
  height: 50%;
  background: white;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  border-radius: 5px !important;
  background: #fd3838 !important;
  transition: all 0.3s !important;
}

/* 画面上部の「アプリ」帯部分 */

.title-contents {
  padding:5px;
  color: black;
  padding-top: 30px;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
  margin: 0 auto;
  text-align: center;
}

.service-title {
  font-size: 5vh; 
  margin: 5px; 
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
  margin: 0 auto;
}

.logo{
  cursor: pointer;
}

/* timer */

main{
  padding: 20px 20px;
  margin: 50px 400px;
}

.timer-container{
  width: 25vw;
  height: 25vh;
  margin: auto;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  bottom: 15vh;
  right: 32px;
  position: fixed;
}

#timer{
  background-color: lightgray;
  border-radius: 10px;
  color: black;
  font-size: 18px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  text-align: center;
  font-size: 30px;
  width: 80%;
  margin: 10px 10px;
  display: inline-block;
  
}

.control{
  display: flex;
  width: 80%;
  margin: auto;
}

.btn{
  cursor: pointer;
  user-select: none;
  text-align: center;
  background-color: lightgray;
  border-radius: 10px;
  color: black;
  font-size: 13px;
  width: 15vw;
  height: 5vh;
  line-height: 5vh;
  margin-left: 5px;
  line-height: 5vh;
}

.btn:hover {
  opacity: 0.8;
}

.inactive{
  opacity: 0.8;
}

.pomodoro{
  margin: 20px 20px;
}

/* btn */
.btn-more {
  background:#ffffff;
  border:1px solid #4a4a4a;
  border-radius:4px;
  text-align: center;
  text-decoration: none;
  color: #4a4a4a;
  font-size: 16px;
}

.btn-more a:hover {
  background-color: #f7f7f7;
}

.hidden_box {
  margin: 2em 0;
  padding: 0;
  text-align: center;
}

/*ボタン装飾*/
.hidden_box label {
  padding: 15px;
  font-weight: bold;
  background: #efefef;
  border-radius: 5px;
  cursor :pointer;
  transition: .5s;
}

/*アイコンを表示*/
.hidden_box label:before {
  display: inline-block;
  content: '\f078';
  font-family: 'FontAwesome';
  padding-right: 5px;
  transition: 0.2s;
}

/*ボタンホバー時*/
.hidden_box label:hover {
  background: silver;
}

/*アイコンを切り替え*/
.hidden_box input:checked + label:before {
   content: '\f00d';
   -ms-transform: rotate(360deg);
   -webkit-transform: rotate(360deg);
   transform: rotate(360deg);
   color: #668ad8;
}

/*チェックは見えなくする*/
.hidden_box input {
  display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked + label + .hidden_show {
  padding: 10px 0;
  height: auto;
  opacity: 1;
}

.toggle-wrap .toggle-button {
  display: block;
  cursor: pointer;
  padding: 3px 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
  border-radius: 8px;
  }
  
  .toggle-wrap .toggle-button:hover {
  border-color: #999;
  background: #f5f5f5;
  }
  
  .toggle-wrap .toggle-button:after {
  content: "する"; /* 閉じている状態のときにラベルの後ろに続く文字 */
  }
  
  /*中身を非表示にしておく*/
  .toggle-wrap .toggle-content{
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.6s;
  }
  
  /*チェックは見えなくする*/
  .toggle-wrap > input[type="checkbox"] {
  display: none;
  }
  
  .toggle-wrap > input[type="checkbox"]:checked ~ .toggle-button:after {
  content: "するを非表示"; /* 開いている状態のときにラベルの後ろに続く文字 */
  }
  
  /*クリックで中身表示*/
  .toggle-wrap > input[type="checkbox"]:checked ~ .toggle-content {
  display: block;
  height: auto;
  opacity: 1;
  padding: 10px 0;
  }