
/* //下部広告部分 */

.footer {
  height: 10vh;
  width: 100%;
  position: fixed;
}

.footer-contents {
  text-align: center;
  padding: 1rem;
  background-image: image-url('bg_as.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
