.brand{
  background-image: image-url('bg_as.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding-left: 1rem;
}

.brand ul{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}

.brand li{ 
  max-width: 0 auto;
  margin: 1rem;
}

.brand li:first-of-type{
  width: 10vw;
}

.brand li a{
  text-decoration: none;
}

.brand li a:hover{
  
}

$defaultDuration: .3s;
$primaryColour: #ececec;
$secondaryColour: #666;
$shadowColour: rgba(0, 0, 0, .6);
@mixin hideTapHighlightColor() {
  //Prevent highlight colour when element is tapped
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
@mixin hardwareAccel() {
  //Improve performance on mobile/tablet devices
  transform: translateZ(0);
}

@mixin improveAntiAlias() {
  //Improve aliasing on mobile/tablet devices
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.float-shadow {
  display: inline-block;
  position: relative;
  transition-duration: $defaultDuration;
  transition-property: transform;

  @include hideTapHighlightColor();
  @include hardwareAccel();
  @include improveAntiAlias();

  &:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(0,0,0,.35) 0%,rgba(0,0,0,0) 80%); /* W3C */
    transition-duration: $defaultDuration;
    transition-property: transform opacity;
  }

  &:hover {
    transform: translateY(-5px); /* move the element up by 5px */

    &:before {
      opacity: 1;
      transform: translateY(5px); /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
    }
  }
}

.header-button{
  width:7rem;
  color:#5585ff;
  border:2px solid #5585ff;
  background-color:transparent;
  cursor:pointer;
  line-height:2;
  margin:0;
  padding:0;
  border-radius:1.5rem;
  text-align: center;
}
/*ボタン*/
.hamburger_btn {
  position: fixed; /*常に最上部に表示したいので固定*/
  top: 0;
  right: 0;
  width: 70px;
  height: 72px;
  cursor: pointer;
  z-index: 50;
}

.hamburger_btn .line {
  position: absolute;
  top: 0;
  left: 10px;
  width: 32px;
  height: 3px;
  background: rgb(66, 65, 65);
  text-align: center;
}

.hamburger_btn .line_01 {
  top: 16px;
  transition: 0.4s ease;
}
.hamburger_btn .line_02 {
  top: 26px;
  transition: 0.4s ease;
}
.hamburger_btn .line_03 {
  top: 36px;
  transition: 0.4s ease;
}

.btn_line01 {
  transform: translateY(10px) rotate(-45deg);
  transition: 0.4s ease;
}
.btn_line02 {
  transition: 0.4s ease;
  opacity: 0;
}
.btn_line03 {
  transform: translateY(-10px) rotate(45deg);
  transition: 0.4s ease;
}

.menu li {
  list-style: none;
  line-height: 1rem;
  padding: 1rem;
}

.menu li:hover{
  background: #fbfbfb;
  padding: 15px;
  border-radius: 5px;
}

.menu {
  background-color: rgba(197, 197, 197, 0.671);
  z-index: 30;
  padding: 2rem 1rem;
  position: fixed;
  width: 20rem;
  height: 80rem;
  top: 0;
  right: 0;
}

.menu a {
  color: rgb(66, 66, 66);
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0 0.8rem;
}
.menu ul{
  margin: 1rem;
  padding: 0;
}

.btn-social-icon-twitter {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  color: #1da1f3;
  font-size: 20px;
  text-decoration: none;
}

.btn-social-icon-twitter:hover {
  color:#88daff;
  transition: .5s;
}

.btn-social-icon-twitter__square {
  border-radius: 10px;
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 27px;
  line-height: 50px;
  color: #FFF;
  background: #1da1f3;
}

.btn-social-icon-twitter__square i {
  line-height: 50px;
}


.btn-sf-like {
  position: relative;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
  padding: 0.3em 0.5em;
  background: #00bcd4;
  border-top: solid 3px #00a3d4;
  border-bottom: solid 3px #00a3d4;
  transition: .4s;
}

.btn-sf-like:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83),
               6px 0px 15px rgba(255, 255, 240, 0.83);
}

ul{
  list-style: none;
}

.material-icons{
  font-size: 30px;
  color: black;
}