
form input {
  width: 60%;
  margin: 5px 0 15px;
  padding: 5px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

.container .row{
  margin: 5rem;
  padding: 5rem 1em;
}

form input[type="submit"]:hover {
  background-color: #84d3ef;
}

.field input {
  width: 60%;
  margin: 5px 0 15px;
  padding: 10px;
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-size: 1em;
  font-family: "游ゴシック", "YuGothic";
  text-align: center;
  transition: border-color 0.3s;
}

.field input:focus{
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.field textarea{
  width: 60%;
  margin: 3px 0 1px;
  padding: 3px;
  background: #fafafa;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  border-radius: 3px;
  color: #666;
  font-size: 1em;
  font-family: "游ゴシック", "YuGothic";
  text-align: center;
  transition: border-color 0.3s;
}

form input[type="submit"] {
  background-color: #57C3E9;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
}

form input[type="submit"]:hover {
  background-color: #84d3ef;
}

.container{
  width: 80vw;
  margin:0 auto;
  padding-top: 40px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
  text-align: center;
}

.list-container{
  width: 80vw;
  margin:0 auto;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
  text-align: center;
}

.form-container{
  width: 40vw;
  margin:0 auto;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
  text-align: center;
  border-radius: 8px;
}

.container > h2 {
  margin: 0 0 20px;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  color: #666;
}

.btn-social-icon-twitter__square{
  margin-top: 5px;
}

.return{
  text-align: center;
  margin: 10px 10px;
}

.links{
  padding:10px;
}