
form input {
  width: 60%;
  margin: 5px 0 15px;
  padding: 5px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

form input[type="submit"] {
  background-color: #57C3E9;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
  width: 15%;
}

form input[type="submit"]:hover {
  background-color: #84d3ef;
}

.container{
  width: 80vw;
  margin: auto;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
  text-align: center;
}

.container > h2 {
  margin: 0 0 20px;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  color: #666;
}

.login-content{
  width: 100vw;
  margin: auto;
  text-align: center;
}

.login-content > a{
  
}

h2{
  font-weight: bold;
  margin: 10px;
}

h3{
  margin: 10px;
}