
form input {
  width: 60%;
  margin: 5px 0 15px;
  padding: 5px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}


form input[type="submit"]:hover {
  background-color: #84d3ef;
}

.container{
  width: 80vw;
  margin: auto;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
  text-align: center;
}

.container > h2 {
  margin: 0 0 20px;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
  color: #666;
}

.btn-social-icon-twitter__square{
  margin-top: 5px;
}

.brand-icon{
  margin-top: 5px;
}

li{
  color: black;
}